/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');

/* --------- */


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #121214;
  padding: 0;
  margin: 0;

}

nav {
  color: rgb(219, 219, 219);
  font-size: 0.6em;
  font-family: Space Grotesk;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}


#hero {
  background-image: url(./background/bg-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  height: auto;
  width: 100%;
}

#hero h1 {
  font-weight: 400;
  font-size: 4em;
  width: 25%;
  text-transform: uppercase;
}

#hero h1 span {
  letter-spacing: 2px;
  font-weight: 800;
}

#hero p {
  text-transform: capitalize;
  letter-spacing: 6px;
  font-weight: 300;
  font-size: 2em;
}

#presentation {
  color: black;
  border-bottom: 5px solid #8D9D89;

  padding: 5% 0 0 0;

}

#presentation h2 {
  margin-left: 5px;
  font-family: Space Grotesk;
  font-size: 4em;
  color: #8D9D89;
  text-shadow: 5px 4px 6px rgba(237, 237, 237, 0.38);
}

#presentation p {
  font-family: Poppins;
  color: whitesmoke;
  font-weight: 300;
}

#bg-presentation {

  border-radius: 30px;
  opacity: 0.95;
  width: 90%;
  /* background-color: #8D9D89; */
}

#presentation p {
  font-size: 1.8em;
}

#presentation .cv {
  background-color: #8D9D89;
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 30px;
  border-radius: 4px;

  font-family: Space Grotesk;
}

#presentation button:hover {
  letter-spacing: 3px;
  transition: 0.4s;
}

#ma-photo {
  filter: grayscale(100%);
  object-fit: contain;
  border-radius: 50%;
  margin-bottom: 30px;
  height: 500px;
  width: auto;
}



#ma-photo:hover {
  opacity: 1;
}

.logo-competences img {
  height: 8em;
  width: auto;

}

.icone {
  height: 50px;
  width: auto;
  margin-bottom: 30px;
  margin-left: 30px;
}

#mes-competences {
  border-bottom: 5px solid #8D9D89;
}

#mes-competences h2 {
  color: whitesmoke;
  font-family: SPACE Grotesk;
  font-size: 3em;
}

#mes-projets {
  height: 100%;
  width: 100%;
  padding-top: 30px;
}

#mes-projets h2 {
  color: whitesmoke;
  font-family: SPACE Grotesk;
  font-size: 3em;
}

#barre {
  height: 50px;
}

/* mes-projets */
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  /* margin: 30px auto; */
  width: 500px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  background-color: transparent;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image a {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}
.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  /* margin-top: -80px; */
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.arrow-link {
  position: fixed;
  left: 5px;
  bottom: 0;
}

@media screen and (max-width:580px) {



  #hero {
    height: fit-content;
  }

  #hero h1 {
    font-size: 3em;
  }

  #hero p {
    font-size: 2em;
  }

  #hero {
    background-image: url(./background/bg-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    height: auto;
    width: 100%;
  }

  #presentation {
    height: fit-content;
   
  }

  #presentation button {

    margin-bottom: 30px;

  }

  #presentation h2 {
    font-size: 2em;
  }

  #presentation p {
    font-size: 1em;
  }


  #ma-photo {
    width: 300px;
    height: auto;
    border-radius: 0%;
  }

  .image-profil {
    display: block;
    justify-content: center;
  }

  .icone {
    margin-bottom: 0px;
    margin-left: 0px;
  }
}

@media screen and (max-width:680px) {

#presentation {

  display: flex;
  flex-direction: column;

}

}

@media screen and (max-width:780px) {

  nav {
    font-size: 0.1em;
    letter-spacing: 1px;
  }

#presentation {

  
}

  #presentation h2 {
    font-size: 2em;
  }

  #presentation p {
    font-size: 1.5em;
  }

  .image-profil {
    display: flex;
    justify-content: center;
  }

  #ma-photo {
    height: 500px;
    width: 300px;
  }

}