* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #a09d9d;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: relative;
  overflow-x: hidden;
}

nav {
  color: black;
  font-size: 2em;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #8A9AAB;
}

#presentation {
  color: black;
  height: 100vh;
  border-bottom: 1px solid black;

}

#presentation-div {
  height: 100%;
}

#presentation h1 {
  margin-left: 5px;
  font-family: 'Poppins', sans-serif;
  color: #8D9D89;
  text-shadow: 5px 4px 6px rgba(237, 237, 237, 0.38);
}

#presentation p {
  font-family: 'Poppins', sans-serif;
}

#bg-presentation {

  border-radius: 30px;
  opacity: 0.95;
  width: 90%;
  /* background-color: #8D9D89; */
}

#presentation p {
  font-size: 1.8em;
}

#ma-photo {
  filter: grayscale(100%);
}


#ma-photo:hover {
  opacity: 1;
}

#mes-projets {
  height: 100%;
  width: 100%;
  padding-top: 30px;

}


h2 {
  font-size: 2.5em;
  font-family: 'Protest Strike', sans-serif;
  font-weight: bold;
}

#barre {
  height: 50px;
}

<--mes projets-->
.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  /* margin: 30px auto; */
  width: 500px;
  height: 250px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
  background-color: transparent;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  /* margin-top: -80px; */
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}